body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}

.conteudo {
    width: 375px;
    background: #f3f3F3;
    height: calc(100vh - 120px);
    margin: 0 auto;
    overflow: scroll;
    scrollbar-width: none;
    
    display: flex;
    flex-direction: column;
    white-space: wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.menu-topo{
    width: 100%;
    height: 80px;
    margin-bottom: 26px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li {
    width: 375px;
    height: 40px;
    margin-bottom: 4px;
    white-space: wrap;
    overflow-wrap: break-word;
    
}

.salaTodos {
    width: 375px;
    padding-left: 8px;
    background: #DCDCDC;
    height: 100%;
    border-radius: 2px;

    display: flex;
    align-items: center;
 

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    white-space: wrap;
    overflow-wrap: break-word;
    
}

.msgTodos {
    width: 375px;
    padding-left: 8px;
    background: #FFFFFF;
    height: 100%;
    border-radius: 2px;

    display: flex;
    align-items: center;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    white-space: wrap;
    overflow-wrap: break-word;
   
}

.msgPvt {
    width: 375px;
    padding-left: 8px;
    background: #FFDEDE;
    height: 100%;
    border-radius: 2px;

    display: flex;
    align-items: center;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    white-space: wrap;
    overflow-wrap: break-word;
   
}

.caixaMsg{
    overflow: scroll;
    scrollbar-width: none;
    
    display: flex;
    flex-direction: column;
    white-space: wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
}



.menu-footer {
    width: 375px;
    height: 80px;
    position: fixed;
    bottom: 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.menu-footer > ion-icon {
    width: 26px;
    height: 26px;
}

.menu-footer > input {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: black;

    outline: none;
    border: none;
    padding: 4%;

}

input::placeholder {
    font-style: italic;
    color: black;
    
}

img {
    width: 75px;
    height: 53px;
    margin-left: 22px;
}

ion-icon {
    width: 43px;
    height: 39px;
    margin-right: 22px;
}

.negrito {
    font-weight: bold;
}

.tempo {
    color: #AAAAAA;
}